
*{
   color: #1b1b1b; 
}

a, i {
    transition: 0.5;
    text-decoration: none;
}

.center-image{
  background-position: center;
  background-size: cover;  
}

.btn{
    text-decoration: none;
    background-color: green;
    color: ghostwhite;
    padding: 6px 17px;
    border-radius: 1px;
}

.btn:hover {
    background-color: springgreen;
    color: ghostwhite;
}

#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #1b1b1b;
}

#header p{
    margin-bottom: 0;
}

#container-logo {
    display: flex;
    justify-content: center;
}

#logo{
    width: 45px;
    height: 45px;
    margin-right: 16px;
}

#navbar{
    padding: 10px;
    margin: 10px auto;
    font-weight: bold;
}

#navbar a{
    width: 170px;
    color: #1b1b1b;
}

#navbar a:hover{
    color: springgreen;
}

.main-image{
    height: 400px;
    background-image: url('../img/imagem1.jpg');
    margin-bottom: 25px;
    position: relative;
}

.main-image-info{
    background-color: white;
    padding: 20px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#img1{
    background-image: url('../img/imagem4.jpg');
}
#img2{
    background-image: url('../img/imagem5.jpg');
}
#img3{
    background-image: url('../img/imagem6.jpg');
}
#img4{
    background-image: url('../img/imagem7.jpg');
}

.small-image-container{
    height: 200px;
    margin-bottom: 30px;
}

.small-image-container-info{
    background-color: white;
    position: relative;
    width: 280px;
  left: 12px;
  top: 35px;
}

footer{
    border-top: 1px solid #ccc;
    height: 100px;
    padding: 30px;
}

#rede-social{
    padding: 10px;
    
}
.bi{
color: springgreen;
}

a:hover i {
    color: black;
}

footer p{
    text-align: center;
    margin: 10px;
}

.quebrarLinha{
    width: 300px;
    white-space:nowrap;
    word-wrap: break-word;
    
}




